<div>
    <style>
        prm-location-holdings > * {
            visibility: hidden;
            height: 0;
            width: 0;
            margin: 0;
            padding: 0;
        }
        prm-location-holdings-after {
            visibility: visible;
        }
    </style>
    <md-card
        ng-if="$ctrl.holdings && $ctrl.holdings.length > 0"
        class="jh-boundswith-card"
        md-theme-watch
    >
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Holdings Information</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div>
                <!-- Display all lines -->
                <div ng-repeat="line in $ctrl.holdings">
                    <!-- Special handling for "For availability see:" line -->
                    <div ng-if="$ctrl.isAvailabilityLine(line)">
                        <div class="margin-bottom-medium">
                            This item is physically bound with another item.
                        </div>
                        <div>
                            <span class="bold-text">{{line.key}}</span>
                            <a
                                ng-if="$ctrl.hasValidLink(line)"
                                ng-href="{{$ctrl.getAvailabilityLink(line)}}"
                            >
                                {{$ctrl.getLinkText(line)}}
                            </a>
                        </div>
                    </div>

                    <!-- Handle regular lines -->
                    <div ng-if="!$ctrl.isAvailabilityLine(line)">
                        <span class="bold-text">{{line.key}}</span>
                        <span
                            ng-repeat="lineItem in line.value track by $index"
                        >
                            <div>
                                <a
                                    ng-if="$ctrl.isLink(lineItem)"
                                    ng-href="{{lineItem}}"
                                    >{{lineItem}}</a
                                >
                                <span
                                    ng-if="!$ctrl.isLink(lineItem)"
                                    ng-bind-html="lineItem"
                                ></span>
                            </div>
                        </span>
                    </div>
                </div>

                <!-- View More/Less buttons -->
                <md-button
                    class="button-as-link link-alt-color"
                    ng-click="$ctrl.parentCtrl.viewMore(!$ctrl.parentCtrl.summaryLinesVisible, $event)"
                    ng-if="!$ctrl.parentCtrl.summaryLinesVisible && $ctrl.parentCtrl.currLoc.summaryHoldings.baseSummaryShort.length > 0 && $ctrl.parentCtrl.currLoc.isHoldingExpandedData"
                    aria-label="{{'nui.aria.locations.viewMore' | translate}}"
                >
                    <span
                        translate="nui.locations.viewMore"
                        class="bold-text"
                    ></span>
                </md-button>
                <md-button
                    class="button-as-link link-alt-color"
                    ng-click="$ctrl.parentCtrl.viewMore(!$ctrl.parentCtrl.summaryLinesVisible, $event)"
                    ng-if="$ctrl.parentCtrl.summaryLinesVisible && $ctrl.parentCtrl.currLoc.summaryHoldings.baseSummaryShort.length > 0 && $ctrl.parentCtrl.currLoc.isHoldingExpandedData"
                    aria-label="{{'nui.aria.locations.viewLess' | translate}}"
                >
                    <span
                        translate="nui.locations.viewLess"
                        class="bold-text"
                    ></span>
                </md-button>
            </div>
        </md-card-content>
    </md-card>
</div>
