<style>
  prm-location {
    visibility: visible;
  }

  prm-location>.neutralized-button {
    visibility: hidden;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
  }

  prm-location-after {
    visibility: visible !important;
  }

  .call-number-location-after {
    font-weight: 800 !important;
  }

  .available {
    font-weight: 800 !important;
  }

  .location-after-request-button {
    color: #fff;
    background-color: #002d72;
    padding: 1em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    border-radius: .2em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    min-width: 200px;
    cursor: pointer;
    align-self: flex-end;
    margin-top: auto;
  }

  prm-location>.flex-xs-100.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .top-content {
    flex-grow: 1;
  }

</style>
<div class="jhu-prm-location-after">
  <prm-authentication-after parent-ctrl="$ctrl"></prm-authentication-after>
  <div class="neutralized-button layout-full-width layout-display-flex md-button md-ink-ripple layout-row" tabindex="0"
    layout="row" ng-click="$ctrl.parentCtrl.onClick()" aria-label="..." ng-class="{'disabled': !$ctrl.isLoggedIn}" md-ink-ripple="red" role="button">
    <div class="top-content">
      <div ng-class="{'md-list-item-text': !$ctrl.parentCtrl.mediaQueries.xs}" layout="row" layout-wrap="" flex=""
        class="layout-wrap layout-row flex md-list-item-text">
        <div ng-class="{'md-list-item-text': $ctrl.parentCtrl.mediaQueries.xs}" flex="" flex-xs="100"
          class="flex-xs-100 flex">
          <h3>{{ $ctrl.parentCtrl.loc.location.mainLocation }}</h3>
          <p class="availability-status {{ $ctrl.parentCtrl.loc.location.availabilityStatus }}">{{
            $ctrl.capitalize($ctrl.parentCtrl.loc.location.availabilityStatus) }}</p>
          <p ng-if="$ctrl.parentCtrl.loc.location && 
                       $ctrl.parentCtrl.loc.location.subLocation && 
                       $ctrl.parentCtrl.getSubLibraryName($ctrl.parentCtrl.loc.location)"
            ng-bind-html="$ctrl.parentCtrl.loc.location.collectionTranslation">
            {{ $ctrl.parentCtrl.getSubLibraryName($ctrl.parentCtrl.loc.location) }}

          </p>
          <p class="call-number-location-after" ng-if="$ctrl.parentCtrl.loc.location.callNumber" dir="auto">{{
            $ctrl.parentCtrl.loc.location.callNumber }}</p>
        </div>
      </div>
    </div>
    <div class="location-after-request-button" ng-class="{'disabled-button': !$ctrl.isLoggedIn}">Request item from this location</div>
  </div>
</div>
