
#getit_link1_0 >* .location-after-request-button, #getit_link1_0 >* prm-authentication > button, prm-service-button .md-button.button-as-link, 
.bar prm-authentication prm-location-items md-list prm-service-button .md-button, 
prm-location-items md-list prm-service-button .bar prm-authentication .md-button, 
prm-location-items md-list prm-service-button .md-button, 
prm-location-items md-list prm-service-button .md-button.button-as-link,
prm-location-after >* button, prm-location > prm-location-after >* div.list-item-actions.flex > button
{
    color: #fff;
    text-transform: none;
    background-color: #002d72;
    padding: 1em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    border-radius: .2em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    min-width: 200px;
    cursor: pointer;
    align-self: flex-end;
    margin-top: auto;
  }

  #getit_link1_0 >* .bar{
    height:100px;
  }
  
  /* External link icon */
  prm-service-button prm-icon md-icon.md-primoExplore-theme {
    margin-left: .25em;
    color: #fff;
  }
