/* GENTONA */
/*=== Medium (500) ===*/
@font-face {
  font-family: 'gentona';
  src: url('https://bespoke.mse.jhu.edu/webfonts/Gentona-Medium.eot');
  src: url('https://bespoke.mse.jhu.edu/webfonts/Gentona-Medium.eot?#iefix') format('embedded-opentype'),
       url('https://bespoke.mse.jhu.edu/webfonts/Gentona-Medium.woff') format('woff'),
       url('https://bespoke.mse.jhu.edu/webfonts/Gentona-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'gentona';
  src: url('https://bespoke.mse.jhu.edu/webfonts/Gentona-MediumItalic.eot');
  src: url('https://bespoke.mse.jhu.edu/webfonts/Gentona-MediumItalic.eot?#iefix') format('embedded-opentype'),
       url('https://bespoke.mse.jhu.edu/webfonts/Gentona-MediumItalic.woff') format('woff'),
       url('https://bespoke.mse.jhu.edu/webfonts/Gentona-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

/*=== Book (400) ===*/
@font-face {
  font-family: 'gentona-book';
  src: url('https://bespoke.mse.jhu.edu/webfonts/Gentona-Book.eot');
  src: url('https://bespoke.mse.jhu.edu/webfonts/Gentona-Book.eot?#iefix') format('embedded-opentype'),
       url('https://bespoke.mse.jhu.edu/webfonts/Gentona-Book.woff') format('woff'),
       url('https://bespoke.mse.jhu.edu/webfonts/Gentona-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'gentona-book';
  src: url('https://bespoke.mse.jhu.edu/webfonts/Gentona-BookItalic.eot');
  src: url('https://bespoke.mse.jhu.edu/webfonts/Gentona-BookItalic.eot?#iefix') format('embedded-opentype'),
       url('https://bespoke.mse.jhu.edu/webfonts/Gentona-BookItalic.woff') format('woff'),
       url('https://bespoke.mse.jhu.edu/webfonts/Gentona-BookItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

/* ARNHEM */
/*=== Blond (300) ===*/
@font-face {
  font-family: 'arnhem';
  src: url('https://bespoke.mse.jhu.edu/webfonts/Arnhem-Blond.eot');
  src: url('https://bespoke.mse.jhu.edu/webfonts/Arnhem-Blond.eot?#iefix') format('embedded-opentype'),
       url('https://bespoke.mse.jhu.edu/webfonts/Arnhem-Blond.woff') format('woff'),
       url('https://bespoke.mse.jhu.edu/webfonts/Arnhem-Blond.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
/*=== Bold (700) ===*/
@font-face {
  font-family: 'arnhem';
  src: url('https://bespoke.mse.jhu.edu/webfonts/Arnhem-Bold.eot');
  src: url('https://bespoke.mse.jhu.edu/webfonts/Arnhem-Bold.eot?#iefix') format('embedded-opentype'),
       url('https://bespoke.mse.jhu.edu/webfonts/Arnhem-Bold.woff') format('woff'),
       url('https://bespoke.mse.jhu.edu/webfonts/Arnhem-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* QUADON */
/*=== Bold (500) ===*/
@font-face {
  font-family: 'quadon';
  src: url('https://bespoke.mse.jhu.edu/webfonts/Quadon-Bold.eot');
  src: url('https://bespoke.mse.jhu.edu/webfonts/Quadon-Bold.eot?#iefix') format('embedded-opentype'),
       url('https://bespoke.mse.jhu.edu/webfonts/Quadon-Bold.woff') format('woff'),
       url('https://bespoke.mse.jhu.edu/webfonts/Quadon-Bold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* TITLING GOTHIC */
/*=== Medium (500) ===*/
@font-face {
  font-family: 'titling-gothic';
  src: url('https://bespoke.mse.jhu.edu/webfonts/Titling-Gothic-Medium.eot');
  src: url('https://bespoke.mse.jhu.edu/webfonts/Titling-Gothic-Medium.eot?#iefix') format('embedded-opentype'),
       url('https://bespoke.mse.jhu.edu/webfonts/Titling-Gothic-Medium.woff') format('woff'),
       url('https://bespoke.mse.jhu.edu/webfonts/Titling-Gothic-Medium.ttf') format('truetype'),
       url('https://bespoke.mse.jhu.edu/webfonts/Titling-Gothic-Medium.svg#titlinggothicmedium') format('svg');
  font-weight: 500;
  font-style: normal;
}
/*=== Regular (300) ===*/
@font-face {
  font-family: 'titling-gothic';
  src: url('https://bespoke.mse.jhu.edu/webfonts/Titling-Gothic-Regular.eot');
  src: url('https://bespoke.mse.jhu.edu/webfonts/Titling-Gothic-Regular.eot?#iefix') format('embedded-opentype'),
       url('https://bespoke.mse.jhu.edu/webfonts/Titling-Gothic-Regular.woff') format('woff'),
       url('https://bespoke.mse.jhu.edu/webfonts/Titling-Gothic-Regular.ttf') format('truetype'),
       url('https://bespoke.mse.jhu.edu/webfonts/Titling-Gothic-Regular.svg#titlinggothicregular') format('svg');
  font-weight: 300;
  font-style: normal;
}


body {
  font-family: 'gentona', tahoma, sans-serif;
}
