  prm-location-items>* {
    visibility: hidden;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
  }

  prm-location-holdings {
    margin-bottom: 1em;
  }

  /* In the child component's CSS */
  prm-location-items-after {
    visibility: visible;
  }

  .availability-status {
    font-weight: 800;
  }

  prm-location-items>md-list>md-list-item>div.layout-row.flex>div.md-list-item-text.layout-wrap.layout-row.flex>div.layout-wrap.layout-align-end-center.layout-row.flex-xs-100.flex-sm-30 {
    flex-direction: column;
    align-items: flex-end;
  }
