.logo-image {
    height: 30px;
    margin-left:70px;
  }

  prm-main-menu[menu-type="menu"] .md-button {
    font-size: .80em;
  }

  /* Fix for the Collections header being hidden by the top bar */
prm-collection-gallery-header > .collection-header-inner.has-transparent-topbar {
  margin-top: 0;
  padding-top: 100px;
}
