.jh-header-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: 0 5px 5px rgba(30,30,30,0.1);
    height: 53px;
    display: flex;
}
@media only screen and (max-width: 1280px) {
    .jh-header-container {
        padding-left: 20px;
        padding-right: 20px;
    }
}
.jh-header-logo {
    height: 54px;
    width: 73px;
    margin-bottom: -12px;
    align-self: flex-end;
}
.jh-header-logo a:hover,
.jh-header-logo a:focus {
    box-shadow: none;
}
.jh-image {
    height: auto;
    max-width: 100%;
}

body > primo-explore > div > prm-explore-main > div > prm-search-bar {
    margin-top: 54px;
}
