  prm-location-items>* {
    visibility: hidden;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
  }

  prm-location-items-after {
    visibility: visible;
  }

  prm-location-holdings {
    margin-bottom: 1em;
  }


  .availability-status {
    font-weight: 800;
  }

  prm-location-items>md-list>md-list-item>div.layout-row.flex>div.md-list-item-text.layout-wrap.layout-row.flex>div.layout-wrap.layout-align-end-center.layout-row.flex-xs-100.flex-sm-30 {
    flex-direction: column;
    align-items: flex-end;
  }


  prm-location-items-after .layout-align-end-center {
    flex-direction: column;
    align-items: flex-end;
  }

  prm-location-items-after .skewed-divider {
    display: none;
  }

  prm-location-items-after prm-service-button button {
    margin-left: .25em;
    color: #fff !important;
  }

  prm-location-items-after prm-service-button prm-icon {
    margin-left: .25em;
    color: #fff !important;
  }
