.logo-image {
    height: 30px;
    margin-left: 70px;
}

prm-main-menu[menu-type="menu"] .md-button {
    font-size: 0.8em;
}

/* Fix for the Collections header being hidden by the top bar */
prm-collection-gallery-header
    > .collection-header-inner.has-transparent-topbar {
    margin-top: 0;
    padding-top: 100px;
}

prm-explore-main
    .header
    .transparent-top-bar
    div:not(.favorites-guest-warning) {
    background-color: #fff !important;
}

.alert-banner {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 15px;
}
