/* Request buttons in the GetIt section and the item-level request button */
prm-service-button .md-button.button-as-link, 
.bar prm-authentication prm-location-items md-list prm-service-button .md-button, 
prm-location-items md-list prm-service-button .bar prm-authentication .md-button, 
prm-location-items md-list prm-service-button .md-button, 
prm-location-items md-list prm-service-button .md-button.button-as-link {
    color: #fff;
    background-color: #002d72;
    padding: 1em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    border-radius: .2em;
    margin-top: 0;
    margin-bottom: 1em;
    min-width: 285px;
}

/* External link icon */
prm-service-button prm-icon md-icon {
	margin-left: .25em;
    color: #fff !important
}

/* Label that says "REQUEST:" before the button in the GetIt section */
prm-request-services .section-title {
    display: none;
}

.skewed-divider {
    display: none;
}

prm-location-items-after .layout-align-end-center {
    flex-direction: column;
    align-items: flex-end;
}


/* Citation linker page request buttons */
button[aria-label="Check BorrowDirect, opens in a new window"].md-button.neutralized-button, button[aria-label="Go to Interlibrary Loan Form"].md-button.neutralized-button {
  color: #fff !important;
  background-color: #002d72;
  border-radius: .2em;
  margin: 1em;
  min-width: 285px;
  cursor: pointer;
}

.weak-text {
    color: rgb(182, 182, 182);
}

button[aria-label="Check BorrowDirect, opens in a new window"].md-button.neutralized-button a, button[aria-label="Go to Interlibrary Loan Form"].md-button.neutralized-button a {
  color: #fff !important;
}

/* This is the call number that displays in the Locations section */
 span[ng-if="$ctrl.loc.location.callNumber"][dir="auto"] {
      font-weight: 800;
    }

.availability-status {
    font-weight: 800;
}
