/* CSS for hiding sign-in and request options */

#signInBtn {
    display: none;
}

prm-alert-bar {
    display: none;
}

md-menu {
    display: none;
}
prm-library-card-menu {
    display: none;
}

#favorites-button > prm-icon {
    display: none;
}

prm-save-to-favorites-button {
    display: none;
}

#searchHistory > prm-icon > md-icon {
    display: none;
}

prm-request-services {
    display: none;
}

 prm-authentication {
    display: none !important;
 }

 #dialogContent_265 > prm-main-menu > div > div > md-content > div > div > div.settings-container.align-self-stretch.layout-gt-xs-row.layout-align-center-start {
    display: none !important;
 }
