h2.sais-home {
    font-weight:500;
    font-size:1.4em;
    margin-top:1.3em;
}
h2.sais-home-top {
    margin-top:0;
    font-weight:500;
    font-size:1.4em;
}
h3.sais-home {
    font-weight:500;
    font-size:1.2em;
}